body {
    margin:0;
}

div.toolbar {
    width: calc(100%-20px);
    height:30px;
    padding-left:10px;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #ccc;
    border-bottom: 2px solid #555;
}

div.toolbar div {
    float:left;
    margin-right:10px;
}

div.toolbar img {
    width:30px;
    height:30px;
}

#feedbuttons.table {
    border: 0;
    width: 100%;
    padding-left: 10px
}

#settings {
    margin:8px;
}